### Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [1]:
a=[2,3,4,5,6,7]

In [2]:
#Add ‘mango to the above list
a.append('mango')
a

[2, 3, 4, 5, 6, 7, 'mango']

In [3]:
#Also add banana, grapes & orange in the list

a=a+['banana','grapes','orange']
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [6]:
# insert apple in the 5th position of a variable ‘a’
a.insert(4,'apple')
a

[2, 3, 4, 5, 'apple', 'apple', 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [8]:
a.pop()

'orange'

In [9]:
a

[2, 3, 4, 5, 'apple', 'apple', 6, 7, 'mango', 'banana', 'grapes']

### Q2. L = [1,2,3,4,5,6,7] 
### Using the above list slice from 1:4

In [12]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

### Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [13]:
L = [4,5,6,8,3]
# reversed
L[::-1]

[3, 8, 6, 5, 4]

### Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [14]:
L=[2,4,7,3,6,8]

L=[i**2 for i in L ]

In [15]:
L

[4, 16, 49, 9, 36, 64]

### Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [17]:
def tuple_sum(tup):
    return sum(tup)

my_tup=(1,2,3,4)
print(tuple_sum(my_tup))

10

### Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [18]:
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}
combined_fruits = fruits1.union(fruits2)
print(combined_fruits)

{'orange', 'pear', 'apple', 'kiwi', 'banana', 'grape'}

### Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [19]:
ran_word={'yash','ash','ketchum'}
ran_word.add("pokemon")

print(ran_word)

{'yash', 'ash', 'pokemon', 'ketchum'}

### Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [20]:
animals={'dog','parrot','cat'}

animals.remove('parrot')

In [21]:
animals

{'cat', 'dog'}

### Q9.
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [22]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [23]:
pair=list(zip(favorite_books,favorite_movies))

pair

[('1984', 'The Shawshank Redemption'),
 ('To Kill a Mockingbird', 'The Godfather'),
 ('Pride and Prejudice', 'The Dark Knight')]

### Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [26]:
def find_diffr(lst):
    difference=[]
    
    for i in range(1,len(lst)):
        diff=lst[i]-lst[i-1]
        difference.append(diff)
        
    return difference

In [28]:
lst=[1,3,2,7,9]

find_diffr(lst)

[2, -1, 5, 2]